!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Colors                    !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#include ".Xresources.d/colorscheme01"
#
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900
#define S_base03        #fdf6e3
#define S_base02        #eee8d5
#define S_base01        #93a1a1
#define S_base00        #839496
#define S_base0         #657b83
#define S_base1         #586e75
#define S_base2         #073642
#define S_base3         #002b36
#define S_base4		    #fbfbfc

*.background:              bg_color
*.foreground:              fg_color
*.fading:                  40
*.cursorColor:             fg_color
*.color0:                  color_0
*.color1:                  color_1
*.color2:                  color_5
*.color3:                  color_6
*.color4:                  color_4
*.color5:                  color_5
*.color6:                  color_2
*.color7:                  color_7
*.color8:                  color_8
*.color9:                  color_9
*.color10:                 color_13
*.color11:                 color_14
*.color12:                 color_12
*.color13:                 color_13
*.color14:                 color_10
*.color15:                 color_15


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! XFT                       !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

xft.dpi: 96
xft.antialias: 1
xft.rgba: rgb
xft.hinting: 1
xft.autohint: 0
xft.hintstyle: hintful

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! URxvt                     !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! General
URxvt.loginShell: true
URxvt.scrollBar: false
URxvt.saveLines: 12000
URxvt.internalBorder: 25
URxvt.cursorBlink: false
URxvt.cursorUnderline: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false
URxvt.buffered: true
URxvt.lineSpace: 1
URxvt.letterSpace: -1
URxvt.geometry: 100x50

! Transparency
URxvt*.transparent: false
URxvt*.shading: 20


! Fonts & Spacing
URxvt.font: xft:SauceCodePro Nerd Font Mono:style=Regular:pixelsize=14,xft:DejaVu Sans Mono for Powerline:style=Book:pixelsize=14
URxvt.boldFont: xft:SauceCodePro Nerd Font Mono:style=Bold:pixelsize=14,xft:DejaVu Sans Mono for Powerline:style=Bold:pixelsize=14

! Perl
URxvt*.perl-lib: ~/.urxvt/ext
URxvt*.perl-ext-common: default,font-size,url-select

!--Perl Font-Size
URxvt.keysym.C-Up: font-size:increase
URxvt.keysym.C-Down: font-size:decrease
URxvt.keysym.C-S-Up: font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal: font-size:reset
URxvt.keysym.C-slash: font-size:show

!--Perl Url-Select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: google-chrome
URxvt.url-select.underline: true

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Rofi                      !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

rofi.width: 25
rofi.hide-scrollbar: true
rofi.location: 0
rofi.lines: 10
rofi.sidebar-mode:true
rofi.separator-style: solid
rofi.bw: 3
rofi.font: SauceCodePro Nerd Font Mono 12
rofi.show-icons:true
rofi.drun-icon-theme:Papirus
