! PYWAL Colors
!#include "/home/john/.cache/wal/colors.Xresources"

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! XFT                       !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

xft.dpi: 96
xft.antialias: false
xft.rgba: rgb
xft.hinting: false

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! URxvt                     !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! General
URxvt*loginShell: true
URxvt*scrollBar: false
URxvt*saveLines: 12000
URxvt*internalBorder: 5
URxvt*cursorBlink: true
URxvt*buffered: true

! Transparency
URxvt*transparent: false
URxvt*shading: 20

! Fonts & Spacing
URxvt*font: xft:FiraCode Nerd Font:style=Regular:pixelsize=16
URxvt*boldFont: xft:FiraCode Nerd Font:style=Regular:pixelsize=16
URxvt*letterSpace: -1
URxvt*lineSpacing: 0

! Perl
URxvt*perl-ext-common: default,matcher,resize-font,url-select
URxvt*url-launcher: /usr/bin/xdg-open
URxvt*matcher.button: 1
URxvt*underlineURLs: true
URxvt*matcher.rend.0: Uline Bold fg5
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
URxvt.resize-font.reset: C-equal
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:3
URxvt.tabbed.tab-bg:0

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Rofi                      !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

rofi.width: 25
rofi.hide-scrollbar: true
rofi.location: 0
rofi.lines: 10
rofi.sidebar-mode:true
rofi.separator-style: solid
rofi.bw: 3
rofi.font: SauceCodePro Nerd Font Mono 12
rofi.show-icons:true
rofi.drun-icon-theme:Papirus
