!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Colors                    !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900
#define S_base03        #fdf6e3
#define S_base02        #eee8d5
#define S_base01        #93a1a1
#define S_base00        #839496
#define S_base0         #657b83
#define S_base1         #586e75
#define S_base2         #073642
#define S_base3         #002b36
#define S_base4		#fbfbfc

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! XFT                       !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

xft.dpi: 96
xft.antialias: 1
xft.rgba: rgb
xft.hinting: 1
xft.autohint: 0
xft.hintstyle: hintful

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! URxvt                     !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

URxvt.externalBorder: 2
URxvt.internalBorder: 4

URxvt.scrollstyle:plain
URxvt.jumpScroll:true
URxvt.skipScroll:true

URxvt*background:              S_base4
URxvt*foreground:              S_base0
URxvt*fading:                  40
URxvt*fadeColor:               S_base03
URxvt*cursorColor:             S_base1
URxvt*pointerColorBackground:  S_base01
URxvt*pointerColorForeground:  S_base1

URxvt*color0:                  S_base02
URxvt*color1:                  S_red
URxvt*color2:                  S_green
URxvt*color3:                  S_yellow
URxvt*color4:                  S_blue
URxvt*color5:                  S_magenta
URxvt*color6:                  S_cyan
URxvt*color7:                  S_base2
URxvt*color9:                  S_orange
URxvt*color8:                  S_base03
URxvt*color10:                 S_base01
URxvt*color11:                 S_base00
URxvt*color12:                 S_base0
URxvt*color13:                 S_violet
URxvt*color14:                 S_base1
URxvt*color15:                 S_base3

! General
URxvt*loginShell: true
URxvt*scrollBar: false
URxvt*saveLines: 12000
URxvt*internalBorder: 10
URxvt*cursorBlink: true
URxvt*buffered: true

! Transparency
URxvt*transparent: false
URxvt*shading: 20


! Fonts & Spacing
URxvt*font: xft:Source Code Pro for Powerline:style=Regular:pixelsize=14
URxvt*boldFont: xft:Source Code Pro for Powerline:style=Bold:pixelsize=14
URxvt.italicFont: xft:Source Code Pro for Powerline:style=Italic:pixelsize=14
URxvt.boldItalicFont: xft:Source Code Pro for Powerline:style=BoldItalic:pixelsize=14

URxvt*letterSpace: 0
URxvt*lineSpacing: 0

! Perl
URxvt.perl-lib: ~/.urxvt/ext
URxvt.perl-ext-common: default,font-size,url-select

!--Perl Font-Size
URxvt.keysym.C-Up: font-size:increase
URxvt.keysym.C-Down: font-size:decrease
URxvt.keysym.C-S-Up: font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal: font-size:reset
URxvt.keysym.C-slash: font-size:show

!--Perl Url-Select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: google-chrome
URxvt.url-select.underline: true

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Rofi                      !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

rofi.width: 25
rofi.hide-scrollbar: true
rofi.location: 0
rofi.lines: 10
rofi.sidebar-mode:true
rofi.separator-style: solid
rofi.bw: 3
rofi.font: SauceCodePro Nerd Font Mono 12
rofi.show-icons:true
rofi.drun-icon-theme:Papirus
